@import "default";

#footer
{
	display : none !important;
}

#content
{
	select
	{
		width     : 50%;
		font-size : 20px;
	}
	
	option:focus, textarea:focus, select:focus
	{
		outline-offset     : 0 !important;
		outline            : none !important;
		box-shadow         : 0 0 3px $light-gray !important;
		-moz-box-shadow    : 0 0 3px $light-gray !important;
		-webkit-box-shadow : 0 0 3px $light-gray !important;
	}
	
	input
	{
		outline-offset : 0 !important;
		outline        : none !important;
		&:focus
		{
			outline-offset : 0 !important;
			outline        : none !important;
		}
	}
}

.hidden
{
	display : none !important;
}

.super-button
{
	text-shadow      : none;
	margin-top       : 10px;
	padding          : 5px;
	display          : inline-block;
	background-color : rgba(0, 0, 0, 0.6);
	border           : 1px solid $border;
	color            : $white !important;
	text-transform   : uppercase;
	text-align       : center;
	font-size        : 16px;
	cursor           : pointer !important;
	@include transition(background-color, 0.7s);
	&:hover
	{
		color            : $black !important;
		background-color : $white;
	}
	
	width            : fit-content !important;
}