@import "default";

#footer
{
	display : none !important;
}

#content
{
	select
	{
		width     : 50%;
		font-size : 20px;
	}
	
	option:focus, textarea:focus, select:focus
	{
		outline-offset     : 0 !important;
		outline            : none !important;
		box-shadow         : 0 0 3px $light-gray !important;
		-moz-box-shadow    : 0 0 3px $light-gray !important;
		-webkit-box-shadow : 0 0 3px $light-gray !important;
	}
	
	input
	{
		outline-offset : 0 !important;
		outline        : none !important;
		&:focus
		{
			outline-offset : 0 !important;
			outline        : none !important;
		}
	}
}

.hidden
{
	display : none !important;
}

.button
{
	font-size : 16px;
}