@import "default";

@include media-xs
{
	h1
	{
		width      : 100%;
		text-align : center;
	}
	
	[class^=col]
	{
		padding : 0;
	}
	
	#footer
	{
		position : relative;
		bottom   : initial;
	}
}

@include media-md
{
	h1
	{
		width      : fit-content;
		text-align : left;
	}
	
	[class^=col]
	{
		padding : 15px;
	}
	
	#footer
	{
		position : absolute;
		bottom   : 0;
	}
}

.small-img
{
	display      : inline-block;
	margin-right : 10px;
	margin-top   : 10px;
	img
	{
		max-height : 100px !important;
	}
	cursor       : pointer;
}

#content
{
	font-size : 15px;
}

#primary-image
{
	display : block;
	width   : 100%;
}

.bordered-image
{
	border : 1px solid $gray;
}

