@import "default";

@include media-xs
{
	h1
	{
		width      : 100%;
		text-align : center;
	}
	
	[class^=col]
	{
		padding : 0;
	}
	
	#footer
	{
		position : relative;
		bottom   : initial;
	}
}

@include media-md
{
	h1
	{
		width      : fit-content;
		text-align : left;
	}
	
	[class^=col]
	{
		padding : 15px;
	}
	
	#footer
	{
		position : absolute;
		bottom   : 0;
	}
}

.small-img
{
	display      : inline-block;
	margin-right : 10px;
	margin-top   : 10px;
	img
	{
		max-height : 100px !important;
	}
	cursor       : pointer;
}

#content
{
	font-size : 15px;
}

#primary-image
{
	display : block;
	width   : 100%;
}

.bordered-image
{
	border : 1px solid $gray;
}

.super-button
{
	text-shadow      : none;
	margin-top       : 10px;
	padding          : 15px 15px;
	display          : block;
	background-color : rgba(0, 0, 0, 0.6);
	border           : 1px solid $border;
	color            : $white !important;
	text-transform   : uppercase;
	text-align       : center;
	font-size        : 13px;
	cursor           : pointer !important;
	@include transition(background-color, 0.7s);
	&:hover
	{
		color            : $black !important;
		background-color : $white;
	}
	
	width            : fit-content !important;
}

#add-to-card-button
{
	width    : 50% !important;
	position : absolute;
	bottom   : 5%;
	left     : 25%;
}

