@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Spectral");
html, body {
  overflow-x: hidden;
  min-width: 350px;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("/resources/img/background.png") fixed;
  color: #22232A;
  font-family: "Spectral", serif;
}

a {
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active, a:focus {
  color: initial;
  text-decoration: none !important;
}
a:hover {
  color: #505262;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-10 {
  width: 10% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-33 {
  width: 33% !important;
}

.w-50 {
  width: 50% !important;
}

.w-66 {
  width: 66% !important;
}

.w-70 {
  width: 70% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

::selection {
  background-color: #46413B;
  color: #F7F7F6;
}

::-moz-selection {
  background-color: #46413B;
  color: #F7F7F6;
}

#header {
  min-width: 350px;
  height: 80px;
  min-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: url("/resources/img/background.png") fixed;
  margin-bottom: 1px;
  border-bottom: 1px solid #F7F7F6;
  -webkit-transition: border-bottom-color 0.5s;
  -moz-transition: border-bottom-color 0.5s;
  -o-transition: border-bottom-color 0.5s;
  transition: border-bottom-color 0.5s;
}
#header .container-fluid, #header .row {
  min-height: 80px;
}
@media only screen and (min-width: 768px) {
  #header li {
    margin-right: 5px;
  }
}
@media only screen and (min-width: 992px) {
  #header li {
    margin-right: 20px;
  }
}
#header li:last-child {
  margin-right: 0;
}
#header #logo {
  text-align: center;
  font-family: "La Belle Aurore", serif;
  font-size: 35px;
}
#header #nav {
  text-align: center;
}
#header #nav ul {
  width: 100% !important;
}
#header #sign-options {
  text-align: right;
}
@media only screen and (min-width: 1200px) {
  #header #sign-options {
    text-align: center;
  }
}
#header #sign-options li {
  display: inline-block;
}
#header #mobile-menu-button, #header #open-cart-button {
  width: 100%;
  text-align: center;
  color: #020104 !important;
}

#content {
  margin-top: 80px;
}

#footer {
  margin-top: 15px;
  min-height: 60px;
  width: 100%;
  min-width: 350px;
  z-index: 10;
  background: url("/resources/img/background.png") fixed;
}
#footer .helpings {
  padding: 0;
}
@media only screen and (min-width: 0) {
  #footer .helpings li {
    padding: 15px 0 !important;
    border-top: 1px solid rgba(15, 16, 15, 0.05);
    font-size: 14px;
    width: 100% !important;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  #footer .helpings li {
    padding: 0;
    border-top: none;
    width: initial !important;
  }
}
#footer .helpings a:link {
  color: rgba(62, 66, 70, 0.55) !important;
}
@media only screen and (min-width: 0) {
  #footer .socials {
    padding: 15px 0;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  #footer .socials {
    padding: 0;
    text-align: left;
  }
}
#footer li {
  display: inline-block;
  margin-right: 10px !important;
}
#footer li:last-child {
  margin-right: 0 !important;
}

#mobile-menu {
  font-size: 20px;
  color: #22232A;
  display: none;
  width: 100%;
  z-index: 9999;
  height: 100vh;
  background: url("/resources/img/background.png") fixed;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}
#mobile-menu h3, #mobile-menu h4 {
  display: inline-block;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  min-width: 100%;
}
#mobile-menu a {
  padding-left: 30px;
}
#mobile-menu li {
  margin: 0;
  border-bottom: 1px solid #22232A;
}
#mobile-menu li:last-child {
  border-bottom: none;
}
#mobile-menu .mobile-helper {
  text-align: right;
  padding-right: 15px;
  font-size: 14px;
}

#cart {
  display: none;
  position: fixed;
  background: url("/resources/img/cart-background.png") fixed;
  height: 100vh;
  z-index: 11;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  -webkit-transition: right 1s;
  -moz-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
}
@media only screen and (min-width: 0) {
  #cart {
    top: 80px;
    width: 100%;
    right: -100%;
  }
}
@media only screen and (min-width: 768px) {
  #cart {
    width: 30%;
    right: -30%;
  }
}
@media only screen and (min-width: 992px) {
  #cart {
    width: 25%;
    right: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  #cart {
    width: 20%;
    right: -20%;
  }
}
#cart .title, #cart #cart-emptyness {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.button {
  width: fit-content;
  padding: 5px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  color: #F7F7F6;
}
.button:hover {
  background: #dfdfdb;
  color: #020104;
}
.button:focus, .button:active {
  outline: none;
}

.text-button {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}
.text-button:hover {
  text-decoration: underline;
}
.text-button:hover span {
  border-bottom-color: #020104;
}
.text-button span {
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.text-button-muted {
  color: rgba(62, 66, 70, 0.55) !important;
  text-transform: none !important;
  -webkit-transition: color 0.7s;
  -moz-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
}
.text-button-muted:hover a:link {
  color: #020104 !important;
}

.bottom-bordered {
  border-bottom-color: rgba(15, 16, 15, 0.05) !important;
}

.left-bordered {
  border-left-color: rgba(15, 16, 15, 0.05) !important;
}

.top-bordered {
  border-top-color: rgba(15, 16, 15, 0.05) !important;
}

.no-user-select, #login-form #login-form-submit, #login-form #reset-form-submit, #login-form #sign-up-button, #reset-form #login-form-submit, #reset-form #reset-form-submit, #reset-form #sign-up-button, #change-form #login-form-submit, #change-form #reset-form-submit, #change-form #sign-up-button, #header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-muted, #mobile-menu .mobile-helper {
  color: rgba(62, 66, 70, 0.55);
}

.spacer {
  min-height: 60px !important;
  max-width: 1px !important;
  content: " ";
  padding: 0 !important;
  margin: 0 !important;
}

.no-pm {
  margin: 0 !important;
  padding: 0 !important;
}

#debug {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: red;
  color: black;
}

.card, .card-top-left, .card-left, .card-right {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat;
  background-size: auto;
  text-shadow: 1px 1px 1px #020104;
}
.card .card-title, .card-top-left .card-title, .card-left .card-title, .card-right .card-title, .card .card-subtitle, .card-top-left .card-subtitle, .card-left .card-subtitle, .card-right .card-subtitle {
  color: #F7F7F6;
  width: fit-content;
  font-size: 30px;
  text-transform: uppercase;
}
.card .card-subtitle, .card-top-left .card-subtitle, .card-left .card-subtitle, .card-right .card-subtitle {
  font-size: 14px;
}
.card .button, .card-top-left .button, .card-left .button, .card-right .button {
  text-shadow: none;
  margin-top: 10px;
  padding: 15px 30px;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #F7F7F6;
  color: #F7F7F6;
}
.card .button:hover, .card-top-left .button:hover, .card-left .button:hover, .card-right .button:hover {
  background-color: #F7F7F6;
  color: #020104;
}

.card-right .card-title, .card-right .card-subtitle {
  padding: 30px;
  align-self: flex-start;
}
.card-right .button {
  margin-bottom: 30px;
  margin-right: 30px;
  align-self: flex-end;
}

.card-left .card-title, .card-left .card-subtitle {
  padding: 30px;
  align-self: flex-end;
}
.card-left .button {
  margin-bottom: 30px;
  margin-left: 30px;
  align-self: flex-start;
}

.card-top-left .card-title, .card-top-left .card-subtitle {
  padding: 30px;
  align-self: flex-end;
}
.card-top-left .button {
  margin-bottom: 30px;
  margin-left: 30px;
  align-self: flex-start;
}

.cart-item {
  border-bottom: 1px solid rgba(15, 16, 15, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-item .cart-item-img {
  width: 40%;
  display: inline-block;
}
.cart-item .cart-item-img img {
  width: 100%;
}
.cart-item .cart-item-title, .cart-item .cart-item-cost {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 15px;
}
@media only screen and (min-width: 0) {
  .cart-item {
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  .cart-item {
    padding: 15px;
  }
}

h1 {
  margin: 0 auto;
  width: fit-content;
}

#footer {
  display: none !important;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#login-form, #reset-form, #change-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
@media only screen and (min-width: 0) {
  #login-form, #reset-form, #change-form {
    width: 90%;
  }
  #login-form label, #reset-form label, #change-form label {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  #login-form, #reset-form, #change-form {
    width: 70%;
  }
  #login-form label, #reset-form label, #change-form label {
    width: initial;
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  #login-form, #reset-form, #change-form {
    width: 50%;
  }
}
#login-form label, #login-form input, #reset-form label, #reset-form input, #change-form label, #change-form input {
  display: block;
  padding: 5px;
}
#login-form label, #reset-form label, #change-form label {
  font-size: 24px;
}
#login-form input:focus, #login-form textarea:focus, #login-form select:focus, #reset-form input:focus, #reset-form textarea:focus, #reset-form select:focus, #change-form input:focus, #change-form textarea:focus, #change-form select:focus {
  outline-offset: 0 !important;
  outline: none !important;
  box-shadow: 0 0 3px #BEBAB4 !important;
  -moz-box-shadow: 0 0 3px #BEBAB4 !important;
  -webkit-box-shadow: 0 0 3px #BEBAB4 !important;
}
#login-form input, #reset-form input, #change-form input {
  height: 2em;
  font-size: 18px;
  border-radius: 5px;
  border-color: rgba(15, 16, 15, 0.05);
  width: 100%;
}
#login-form #another, #login-form #back-to-sign-in, #reset-form #another, #reset-form #back-to-sign-in, #change-form #another, #change-form #back-to-sign-in {
  margin-top: 18px;
  align-self: center;
  width: fit-content;
}
#login-form #login-form-submit, #login-form #reset-form-submit, #login-form #sign-up-button, #reset-form #login-form-submit, #reset-form #reset-form-submit, #reset-form #sign-up-button, #change-form #login-form-submit, #change-form #reset-form-submit, #change-form #sign-up-button {
  border: 1px solid #BEBAB4;
  font-size: 16px;
  margin-top: 20px;
  align-self: center;
}
#login-form [id$=error], #reset-form [id$=error], #change-form [id$=error] {
  display: block !important;
  height: 2em;
  font-size: 14px;
}

#reset-form {
  display: none;
}

#forgot-pass-button {
  align-self: center;
}

#confirm-button {
  margin-top: 20px;
}

.super-button {
  text-shadow: none;
  margin-top: 10px;
  padding: 15px 15px;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(15, 16, 15, 0.05);
  color: #F7F7F6 !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  cursor: pointer !important;
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  -o-transition: background-color 0.7s;
  transition: background-color 0.7s;
  width: fit-content !important;
}
.super-button:hover {
  color: #020104 !important;
  background-color: #F7F7F6;
}

/*# sourceMappingURL=sign.css.map */
